@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  background-color: #2B1205;
}
